<!doctype html>
<title>Python Flask - Video Upload and Play Example</title>
<h2>Select a video to upload and play</h2>
<p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>

<form method="post" action="/" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required><br><br>
		</p>
    </dl>
    <p>
		<input type="submit" value="Upload">
	</p>
</form>

{% if filename %}
	<div class="video-container" style="margin: 10px auto;">
    {{Video_FILE}}
		<video width="50%" height="50%" autoplay="autoplay" controls="controls" preload="preload">
			<source src="{{ url_for('display_video', filename=filename) }}" type="video/mp4"></source>

			
		</video>
    
	</div>
{% endif %}






{% extends 'base.html'%}{% block content %}

<h1 style="text-align: center;">FACE DETECTION WEB APPS IN FLASK</h1>


{% if filename %}
<div style="justify-content: center; display: flex; margin-top: 30px;"><img src="{{ url_for('video', filename=filename) }}"></div>
{% endif %}
{% endblock %}
